<app-toolbar></app-toolbar>

<ion-content [fullscreen]="true">
  <section>
    <div class="div-user ion-text-center">
      <img [src]="'http://localhost:5500/uploads/img-users/'+ userPhoto" alt="user" class="user-foto" /><br />
      <h1 class="user-name">{{ userName }}</h1>
      <button class="md-foto" (click)="irEditarPerfil()">Editar Perfil</button>
    </div>
  </section>

  <section>
    <div>
      <ion-button (click)="redirectToRoteirosGostados()">Roteiros que gostei</ion-button>
    </div>
    <div>
      <ion-button (click)="redirectToRoteirosInscritos()">Roteiros Inscritos</ion-button>
    </div>
    <div>
      <ion-button color="danger" (click)="logout()">Logout</ion-button>
    </div>
  </section>
</ion-content>
