<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="weatherData && weatherData.data">
    <ion-card *ngFor="let forecast of weatherData.data.slice(0, 1)">
      <ion-card-header>
        <h2>Viana do Castelo</h2>
        {{ forecast.forecastDate | date:'dd/MM/yyyy' }}
      </ion-card-header>
      <ion-card-content>
        <div class="conteudo-card">
          <div class="card-esquerda">
            <p>Temperatura: {{ forecast.tMax }}ºC</p>
            <p>Pressão: {{ forecast.tMin }}ºC</p>
            <p>Humidade: {{ forecast.precipitaProb }}</p>
          </div>
          <div>
          <!-- icon da temperatura  -->

          </div>
        </div>

        

      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>

