<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card (click)="irTempo()" color="primary">
    <ion-card-header>
      <ion-card-title>Viana do Castelo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Meteorologia</p>
    </ion-card-content>
  </ion-card>

  <app-side-menu></app-side-menu>

  <ion-title>Recentes:</ion-title>

  <ion-card *ngFor="let roteiro of ultimosRoteiros">
    <ion-card-header>
      <ion-card-title>{{ roteiro.nome }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ roteiro.type}}</p>
      <p>{{ roteiro.descricao }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

