<app-toolbar></app-toolbar>

<ion-content [fullscreen]="true">
  <ion-card (click)="irTempo()" color="primary">
    <ion-card-header>
      <ion-card-title>Viana do Castelo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Meteorologia</p>
    </ion-card-content>
  </ion-card>



  <ion-title>Recentes:</ion-title>

  <ion-card *ngFor="let roteiro of ultimosRoteiros">
    <ion-card-header>
      <img
        *ngFor="let imagem of roteiro.imagem"
        [src]="getImageUrl(imagem.nome)"
        alt="Imagem do roteiro"
      >
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>{{ roteiro.nome }}</ion-card-title>
      <ion-card-subtitle>{{ getRoteiroTypeName(roteiro.roteiro_type_id) }}</ion-card-subtitle>
      {{ roteiro.descricao }}
    </ion-card-content>
  </ion-card>

</ion-content>

