
<ion-content>

  <ion-card mode="ios">
    <img alt="foto Viana do Castelo" src="../../../assets/images/fotos de viana/viana-do-castelo.jpg" />
    <ion-card-header>
      <ion-card-title>Criar Conta</ion-card-title>

    </ion-card-header>

    <ion-card-content>

      <form>

        <div class="div-input">
          <ion-label for="name">Nome</ion-label><br>
          <input class="input-margin" name="name" type="text" [(ngModel)]="name"><br>
        </div>

        <div class="div-input">
          <ion-label for="gmail">Email</ion-label><br>
          <input class="input-margin" name="gmail" type="text"  [(ngModel)]="email"><br>
        </div>

        <div class="div-input">
          <ion-label class="ion-margin-top" for="password">Password</ion-label><br>
          <input name="password" type="password"  [(ngModel)]="password">
        </div>

        <!-- link to go to the login page-->
        <div class="div-link">
          <a href="/login" style="font-size: 12px; text-decoration: none">Já tem conta? Inicie Sessão</a>
        </div>

        <div class="div-btn">
          <ion-button type="submit" mode="IOS" (click)="createUser()">Criar Conta</ion-button>
        </div>

      </form>

    </ion-card-content>
  </ion-card>



</ion-content>
