<ion-header>
  <ion-toolbar>
    <ion-button (click)="voltar()">
      Voltar
   </ion-button>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img *ngIf="roteiro?.imagem" [src]="roteiro.imagem" alt="Imagem do Roteiro">
    <ion-card-header>
      <ion-card-title>{{ roteiro.nome }}</ion-card-title>
      <ion-card-subtitle>{{ roteiro.tipo }}</ion-card-subtitle>
      <button class="like" (click)="adicionarLike()">
        <ion-icon [name]="roteiro.userLiked ? 'heart' : 'heart-outline'" [style.color]="roteiro.userLiked ? 'red' : ''" style="width: 35px; height:35px"></ion-icon>
      </button>
    </ion-card-header>
    <ion-card-content>
      <h3 style="font-weight: bold; font-size: 16px;">Começa {{ roteiro.data }}</h3>
      <p style="margin-top: 10px;">{{ roteiro.descricao }}</p>
      <ion-button expand="block" color="" style="margin-top: 20px ;">INSCREVER</ion-button>
    </ion-card-content>
  </ion-card>

  <h2 class="titulo">Comentarios :</h2>

  <!-- form para adicionar um comentario-->
  <form [formGroup]="comentarioForm" (ngSubmit)="criarComentario()">
    <ion-item>
      <ion-label position="floating" >Escreve um comentário</ion-label>
      <ion-textarea formControlName="comentario" required></ion-textarea>
    </ion-item>
    <ion-button type="submit" expand="block" fill="clear"><img src="../../../assets/images/add.svg" style="width: 25px; height: 25px; cursor: pointer;"></ion-button>
  </form>


  <ion-card *ngFor="let comentario of comentarios" class="comentario-item">
    <ion-card-header>
      <div class="div-header">
      <div class="div-img">
        <img [src]="'http://localhost:5500/uploads/img-users/' + comentario.user.image" alt="Imagem do usuário" style="width: 60px; height: 60px; border-radius: 50%; border: 4px solid #3880ff;">
      </div>
      <div class="div-nome">
        <ion-label><h2>{{ comentario.user.name }}</h2></ion-label>
        <p>{{ comentario.comentario }}</p>
      </div>
    </div>
  </ion-card-header>
  </ion-card>
</ion-content>
