ion-card-header{
  position: relative;
}

.like{
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  background: none;
  outline: none;
}


.div-header
{
  display: flex;
  justify-content: flex-start;
}

.div-img{
  width: 25%;
}

.div-nome{
  width: 75%;
  text-align: left;
}

.div-nome h2{
  text-align: left;
  font-size: 18px;
  font-family: 'Poppins Bold';
  padding-bottom: 5px;
  border-bottom: 2px solid #3880ff;
}

.div-nome p{
  text-align: left;
  font-size: 14px;
  font-family: 'Poppins Regular';
}


.titulo{
  font-family: 'Poppins Medium';
  margin-left: 20px;
  font-size: 18px;
}



.like ion-icon.liked {
  color: red;
}

.div-eliminar{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.btn-eliminar{
  background: none;
  border: none;
  cursor: pointer;
}

.lixo{
  width: 40px;
  height: 40px;
}



