<ion-header>
  <ion-toolbar>
    <ion-button (click)="voltar()">
      Voltar
   </ion-button>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="roteiro?.imagem" alt="Imagem do Roteiro">
    <ion-card-header>
      <ion-card-title>{{ roteiro.nome }}</ion-card-title>
      <ion-card-subtitle>{{ roteiro.tipo }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{ roteiro.descricao }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
