<ion-content>
  <ion-card mode="ios">
    <img alt="foto Viana do Castelo" src="../../../assets/images/fotos de viana/viana-do-castelo.jpg" />
    <ion-card-header>
      <ion-card-title>Iniciar Sessão</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="doLogin()">
        <ion-label for="email">Email</ion-label><br>
        <input class="input-margin" name="email" type="text" [(ngModel)]="email"><br>
        <ion-label class="ion-margin-bottom" for="password">Password</ion-label><br>
        <input name="password" type="password" [(ngModel)]="password">
        <!-- link para redericionar para a pagina de login-->
        <div class="div-link">
          <a href="/register" style="font-size: 12px; text-decoration: none">Não tem conta? Registe-se</a>
        </div>
        <div class="div-btn">
          <ion-button type="submit" mode="ios">Iniciar Sessão</ion-button>
        </div>

      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
