<ion-content>
  <ion-card *ngFor="let roteiro of roteiros">
    <ion-card-header>
      <img
        *ngFor="let imagem of roteiro.imagens"
        [src]="getImageUrl(imagem.nome)"
        alt="Imagem do roteiro"
      >
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>{{ roteiro.nome }}</ion-card-title>
      <ion-card-subtitle>{{ getRoteiroTypeName(roteiro.roteiro_type_id) }}</ion-card-subtitle>
      <ion-button fill="clear" style="text-align: left;" color="dark" (click)="verMais(roteiro.id, roteiro.nome, roteiro.imagens[0].nome, roteiro.descricao, roteiro.roteiro_type_id)">Ver Mais</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
