
.botao-div{
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.add{
  background: none;
  border: none;
  font-family: 'Poppins Medium';
  margin-top: 10px;
  width: 80%;
  margin-bottom: 10px;
}

.add img{
  width: 40px;
  height: 40px;

}

