<ion-header [translucent]="true">
  <ion-toolbar>
    <ul class="lista-header">
      <li><img class="logo" src="../../assets/images/logotipo.png" alt="logo"></li>
      <li>Roteiros</li>
      <li><img class="img-defenicoes" src="../../assets/images/definicoes.png" alt="definições"></li>
    </ul>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="sistema-filtrar">
    <div class="filtrar-esquerda">
      <h3>Filtrar Por</h3>
    </div>

    <div class="filtrar-direita">
      <ion-list>
        <ion-item>
          <ion-select aria-label="Fruit" interface="alert" placeholder="Tipo de Roteiro">
            <ion-select-option>Roteiros Culturais</ion-select-option>
            <ion-select-option>Roteiros Gastronômicos</ion-select-option>
            <ion-select-option>Roteiros Monumentais</ion-select-option>
            <ion-select-option>Todos</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <ion-content>
    <app-roteiro-components></app-roteiro-components>
  </ion-content>

</ion-content>
