#darkmode-icon-sol {
  font-size: 25px;
}

#darkmode-toggle {
  margin-right: 5px;
  margin-left: 5px;
}

#darkmode-icon-lua {
  font-size: 25px;
}

.lista-header{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.logo{
  width: 50px;
  height: 50px;
}


/* .img-defenicoes
{
  width: 30px;
  height: 30px;
} */

.lista-header li{
  font-family: 'Poppins Medium';
}

.icon-definicoes {
  margin-right: 10px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.welcome-logotipo {
  display: flex;
  text-align: center;
  width: 200px;
  height: 75px;
}

.botao-iniciar {
  --background: var(--ion-color-primary);
}