<ion-header [translucent]="true">
  <ion-toolbar>
    <ul class="lista-header">
      <li><img class="logo" src="../../assets/images/logotipo.png" alt="logo"></li>
      <li>Editar Perfil</li>
      <li><img class="img-defenicoes" src="../../assets/images/definicoes.png" alt="definições"></li>
    </ul>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
</ion-content>
