.lista-header{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.logo{
  width: 50px;
  height: 50px;
}


.img-defenicoes
{
  width: 30px;
  height: 30px;
}

.lista-header li{
  font-family: 'Poppins Medium';
}
